@model IList<prjEmps.Models.tEmployee> 
@*以 List 型別引入 tEmployees 資料表*@ 

@{
    ViewBag.Title = "員工列表";
}

<h2>員工列表</h2>

<table class="table">
    <tr>
        <td>員工編號</td>
        <td>員工姓名</td>
        <td>員工電話</td>
        <td>員工薪資</td>
        <td></td>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.fId</td>
    <td>@item.fName</td>
    <td>@item.fPhone</td>
    <td>@item.fSalary</td>
    @*將fId當QueryString一起帶到Edit頁*@
    <td><a href="@Url.Action("Edit")?fId=@item.fId" class="btn btn-info">修改</a></td>
    <td><a href="@Url.Action("Delete")?fId=@item.fId" 
           onclick="return confirm('確定要刪除嗎?');" class="btn btn-danger">刪除</a></td>
           @*confirm( )跟 alert() 一樣是瀏覽器訊息視窗*@
</tr>
    }
</table>

